@model IEnumerable<Hallo.Link>

<section>
@foreach (var link in Model ?? Array.Empty<Hallo.Link>())
{
	<a href="@link.Href" rel="@link.Rel" name="@link.Name" hreflang="@link.HrefLang" title="@link.Title">@link.Title</a>
}
</section>
